Repository Delta-ML/delta, pull requests merged in 2019-10, with the labels that each got.

#115 add speech feature doc
  docs/tutorials/training/speech_features.md
Labels: Doc

#116 Op with resource
  .gitignore
  .travis.yml
  delta/data/preprocess/text_ops.py
  delta/data/preprocess/text_ops_test.py
  delta/data/task/base_text_task.py
  delta/data/task/text_cls_task.py
  delta/data/task/text_match_task.py
  delta/data/task/text_nlu_joint_task.py
  delta/data/task/text_seq_label_task.py
  delta/data/utils/common_utils.py
  delta/data/utils/common_utils_test.py
  delta/layers/ops/kernels/jieba_op.cc
  delta/layers/ops/kernels/jieba_op_test.py
  delta/layers/ops/kernels/tokenizer_ops.cc
  delta/layers/ops/kernels/tokenizer_ops_test.py
  delta/layers/ops/kernels/x_ops.cc
  tools/Makefile
Labels: CI, Ops

#111 spk post process with segment overlap
  README.md
  delta/data/frontend/analyfiltbank.py
  delta/data/frontend/analyfiltbank_test.py
  delta/data/frontend/base_frontend.py
  delta/data/frontend/cepstrum.py
  delta/data/frontend/cepstrum_test.py
  delta/data/frontend/delta_delta.py
  delta/data/frontend/delta_delta_test.py
  delta/data/frontend/fbank.py
  delta/data/frontend/fbank_pitch.py
  delta/data/frontend/fbank_pitch_test.py
  delta/data/frontend/fbank_test.py
  delta/data/frontend/framepow.py
  delta/data/frontend/framepow_test.py
  delta/data/frontend/pitch.py
  delta/data/frontend/pitch_test.py
  delta/data/frontend/plp.py
  delta/data/frontend/plp_test.py
  delta/data/frontend/read_wav.py
  delta/data/frontend/read_wav_test.py
  delta/data/frontend/spectrum.py
  delta/data/frontend/spectrum_test.py
  delta/data/frontend/synthfiltbank.py
  delta/data/frontend/synthfiltbank_test.py
  delta/data/frontend/write_wav.py
  delta/data/frontend/write_wav_test.py
  delta/data/frontend/zcr.py
  delta/data/frontend/zcr_test.py
  delta/data/task/speaker_cls_task.py
  delta/data/task/speaker_cls_task_test.py
  delta/data/task/speech_cls_task.py
  delta/layers/common_layers.py
  delta/models/speaker_cls_rawmodel.py
  delta/utils/ctc_utils.py
  delta/utils/ctc_utils_test.py
  delta/utils/decode/tf_ctc.py
  delta/utils/decode/tf_ctc_test.py
  delta/utils/hparam.py
  delta/utils/hparam_test.py
  delta/utils/loss/loss_utils.py
  delta/utils/postprocess/speaker_cls_proc.py
  delta/utils/register.py
  delta/utils/solver/estimator_solver.py
  delta/utils/solver/utils/hooks.py
  delta/utils/solver/utils/solver_utils_test.py
  egs/conll2003/pretrain/v1/local/preprocess_elmo_dataset.py
  egs/iemocap/emo/v1/README.md
  egs/iemocap/emo/v1/run.sh
  utils/speech/compute_fbank_feats.py
  utils/speech/compute_fbank_pitch.py
  utils/speech/compute_plp_feats.py
  utils/speech/compute_spectrum_feats.py
Labels: Delta

#123 fix dpl doc [skip ci]
  README.md
Labels: Doc

#129 add compat for tf1.x [skip ci]
  delta/compat.py
  delta/compat_test.py
Labels: Delta

#134 build process & add readme
  deltann/server/README.md
  deltann/server/core/conf/delta_conf.go
  deltann/server/core/delta_serving.go
  deltann/server/core/delta_serving_test.go
  deltann/server/core/handel/delta_model_handler.go
  deltann/server/core/handel/delta_predict_handler.go
  deltann/server/core/model/delta_model.go
  deltann/server/core/pool/delta_dispatcher.go
  deltann/server/core/pool/delta_work.go
  deltann/server/core/types/delta_types.go
  deltann/server/core/types/delta_types_test.go
  deltann/server/core/utils/filepath_util.go
  deltann/server/core/utils/filepath_util_test.go
  deltann/server/examples/build.sh
  deltann/server/examples/control.sh
  deltann/server/examples/env.sh
  deltann/server/examples/main.go
  deltann/server/examples/run.sh
  deltann/server/examples/server-env.sh
  deltann/server/go.mod
  deltann/server/go.sum
Labels: Serving

#138 Update faq.md
  docs/faq.md
Labels: Doc

#137 fix len check
  delta/data/preprocess/base_preparer.py
  delta/data/utils/common_utils.py
Labels: Delta

#139 fix build shell
  .gitignore
  deltann/server/examples/build.sh
  deltann/server/examples/run.sh
  deltann/server/examples/server-env.sh
  deltann/server/mock_yaml/nlp/model.yaml
  dpl/run.sh
  tools/install/install-go.sh
Labels: Serving

#145 Update install-delta.sh
  tools/install/install-delta.sh
Labels: Bug, Install

#148 remove docker image version no
  .travis.yml
  docs/installation/using_docker.md
Labels: Docker

#150 refactor runtime of deltann
  delta/data/feat/speech_ops.py
  delta/data/feat/tf_speech_feature.py
  delta/data/frontend/plp_test.py
  delta/data/preprocess/base_preparer.py
  delta/data/preprocess/text_cls_preparer.py
  delta/data/preprocess/text_match_preparer.py
  delta/data/preprocess/text_ops.py
  delta/data/preprocess/text_seq2seq_preparer.py
  delta/data/task/base_text_task.py
  delta/data/task/speaker_cls_task.py
  delta/data/task/text_cls_task.py
  delta/data/task/text_cls_task_test.py
  delta/data/task/text_match_task.py
  delta/data/task/text_nlu_joint_task.py
  delta/data/task/text_seq2seq_task.py
  delta/data/task/text_seq_label_task.py
  delta/data/utils/common_utils.py
  delta/layers/common_layers.py
  delta/layers/ops/kernels/jieba_op.cc
  delta/layers/ops/kernels/jieba_op_test.py
  delta/layers/ops/kernels/plp_op_test.py
  delta/layers/ops/kernels/tokenizer_ops.cc
  delta/layers/ops/kernels/tokenizer_ops_test.py
  delta/layers/recurrent.py
  delta/serving/eval_text_cls_pb.py
  delta/utils/ctc_utils.py
  delta/utils/solver/raw_solver.py
  delta/utils/solver/utils/solver_utils.py
  deltann/Makefile
  deltann/core/runtime.cc
  deltann/core/runtime.h
  deltann/core/utils/misc.cc
  deltann/examples/text_cls/test.cc
  deltann/test.sh
Labels: Deltann

#151 update espnet version
  tools/Makefile
Labels: Delta

#152 fix for abseil not support avx compile
  deltann/targets/linux_makefile.inc
  dpl/run.sh
Labels: Bug, Deltann, Dpl

#147 fix install go and go server example usage
  .gitignore
  deltann/server/README.md
  deltann/server/examples/build.sh
  deltann/server/examples/control.sh
  deltann/server/examples/main.go
  deltann/server/examples/run.sh
  deltann/server/examples/server-env.sh
  deltann/server/go.mod
  deltann/server/go.sum
  env.sh
  tools/install/install-go.sh
Labels: Install, Serving

#154 refactor deltann utils
  deltann/Makefile
  deltann/api/c_api.cc
  deltann/core/base_model.h
  deltann/core/buffer.h
  deltann/core/config.cc
  deltann/core/config.h
  deltann/core/data.h
  deltann/core/graph.cc
  deltann/core/graph.h
  deltann/core/io.h
  deltann/core/logging.h
  deltann/core/misc.cc
  deltann/core/misc.h
  deltann/core/runtime.h
  deltann/core/shape.cc
  deltann/core/tflite_model.h
  deltann/core/tfmodel.h
  deltann/core/utils/https.h
  deltann/core/utils/https_client.h
  deltann/examples/text_cls/test.cc
  deltann/targets/linux_makefile.inc
Labels: Deltann

#155 fix export and saved model python inference
  delta/serving/base_frozen_model.py
  delta/serving/eval_asr_pb.py
  delta/serving/eval_speech_cls_pb.py
  delta/serving/eval_text_cls_pb.py
  delta/serving/knowledge_distilling.py
  delta/utils/register.py
  delta/utils/solver/estimator_solver.py
  delta/utils/solver/speaker_solver.py
  tools/Makefile
  utils/deploy/converter_grpah.sh
  utils/espnet_tools
  utils/frozen_saved_model.sh
  utils/inspect_saved_model.sh
  utils/pb_pbtxt.py
  utils/replace_custom_op_attr_pbtxt.py
  utils/run_saved_model.py
Labels: Delta

#156 fix utils and doc
  .gitignore
  docs/development/contributing.md
  utils/pb_pbtxt.py
  utils/run_saved_model.py
Labels: Delta

#158 remove contrib
  README.md
  delta/data/feat/speech_ops.py
  delta/data/feat/tf_speech_feature.py
  delta/data/task/asr_seq_task_test.py
  delta/data/task/speaker_cls_task_test.py
  delta/data/task/speech_cls_task_test.py
  delta/data/utils/espnet_utils_test.py
  delta/layers/recurrent.py
  delta/models/speaker_cls_rawmodel.py
  delta/utils/loss/loss_utils.py
  delta/utils/solver/asr_solver.py
  delta/utils/solver/base_solver.py
  delta/utils/solver/eager_solver.py
  delta/utils/solver/estimator_solver.py
  delta/utils/solver/keras_solver.py
  delta/utils/solver/raw_solver.py
  delta/utils/summary.py
  egs/atis/nlu-joint/v1/config/nlu_joint.yml
  egs/atis2/nlu_joint/v1/config/nlu_joint.yml
  egs/cnn_dailymail/seq2seq/v1/config/lstm_s2s.yml
  egs/cnn_dailymail/seq2seq/v1/config/transformer-s2s.yml
  egs/conll2003/pretrain/v1/config/seq_label_bert.yml
  egs/conll2003/pretrain/v1/config/seq_label_elmo.yml
  egs/conll2003/seq_label/v1/config/seq-label.yml
  egs/hkust/asr/v1/conf/asr-ctc.yml
  egs/iemocap/emo/v1/conf/emo-keras-blstm.yml
  egs/iemocap/emo/v1/conf/emo-keras-resnet50.yml
  egs/iemocap/emo/v1/conf/emotion-speech-cls.yml
  egs/mini_an4/asr/v1/conf/asr-ctc.yml
  egs/mock_text_cls_data/text_cls/v1/config/cnn-cls.yml
  egs/mock_text_cls_data/text_cls/v1/config/han-cls.yml
  egs/mock_text_match_data/text_match/v1/config/rnn-match-mock.yml
  egs/mock_text_nlu_joint_data/nlu-joint/v1/config/nlu_joint.yml
  egs/mock_text_seq2seq_data/seq2seq/v1/config/transformer-s2s.yml
  egs/mock_text_seq_label_data/seq-label/v1/config/seq-label-mock.yml
  egs/msra_ner/seq_label/v1/config/seq-label.yml
  egs/quora_qp/match/v1/config/rnn-match.yml
  egs/snli/match/v1/config/rnn-match.yml
  egs/trec/text_cls/v1/config/cnn-cls.yml
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
  egs/wmt14_en_de/nlp1/config/lstm_s2s.yml
  egs/wmt14_en_de/nlp1/config/transformer-s2s.yml
  egs/yahoo_answer/text_cls/v1/config/han-cls.yml
  tools/requirements.txt
Labels: Delta, TF2.x

#146 Install with pip
  .gitignore
  build_pip_pkg.sh
  delta/__init__.py
  delta/data/feat/speech_feature_test.py
  delta/data/feat/speech_ops_test.py
  delta/data/feat/tf_speech_feature_test.py
  delta/data/frontend/analyfiltbank_test.py
  delta/data/frontend/cepstrum_test.py
  delta/data/frontend/fbank_pitch_test.py
  delta/data/frontend/fbank_test.py
  delta/data/frontend/framepow_test.py
  delta/data/frontend/pitch_test.py
  delta/data/frontend/plp_test.py
  delta/data/frontend/read_wav_test.py
  delta/data/frontend/spectrum_test.py
  delta/data/frontend/synthfiltbank_test.py
  delta/data/frontend/write_wav_test.py
  delta/data/frontend/zcr_test.py
  delta/data/preprocess/base_preparer.py
  delta/data/preprocess/text_ops.py
  delta/data/preprocess/text_ops_test.py
  delta/data/task/kws_cls_task_test.py
  delta/data/task/speech_cls_task_test.py
  delta/data/task/text_cls_task_test.py
  delta/data/task/text_match_task_test.py
  delta/data/task/text_nlu_joint_task_test.py
  delta/data/task/text_seq2seq_task_test.py
  delta/data/task/text_seq_label_task_test.py
  delta/data/utils/common_utils_test.py
  delta/layers/ops/Makefile
  delta/layers/ops/__init__.py
  delta/layers/ops/kernels/analyfiltbank_op_test.py
  delta/layers/ops/kernels/cepstrum_op_test.py
  delta/layers/ops/kernels/framepow_op_test.py
  delta/layers/ops/kernels/jieba_op_test.py
  delta/layers/ops/kernels/pitch_op_test.py
  delta/layers/ops/kernels/plp_op_test.py
  delta/layers/ops/kernels/spectrum_op_test.py
  delta/layers/ops/kernels/synthfiltbank_op_test.py
  delta/layers/ops/kernels/zcr_op_test.py
  delta/layers/ops/py_x_ops.py
  delta/main.py
  delta/resources/cppjieba_dict
  delta/utils/metrics/py_metrics_test.py
  delta/utils/postprocess/postprocess_utils_test.py
  delta/utils/register.py
  delta/utils/solver/raw_cls_solver_test.py
  delta/utils/solver/raw_match_solver_test.py
  delta/utils/solver/raw_nlu_joint_solver_test.py
  delta/utils/solver/raw_seq2seq_solver_test.py
  delta/utils/solver/raw_seq_label_solver_test.py
  delta/utils/solver/utils/__init__.py
  setup.py
  tools/Makefile
  tools/install/install-delta.sh
Labels: Install

#159 fix docs
  docs/index.rst
  docs/introduction.md
  docs/roadmap.md
  docs/todo.md
Labels: Doc
