Repository Delta-ML/delta, pull requests merged in 2019-09, with the labels that each got.

#71 fix spk model for resnet, mix update and fix
  .github/stale.yml
  delta/data/task/speaker_cls_task.py
  delta/data/task/speaker_cls_task_test.py
  delta/layers/common_layers.py
  delta/layers/ops/kernels/delta_delta.cc
  delta/layers/ops/kernels/fbank_op.cc
  delta/layers/ops/kernels/x_ops.cc
  delta/models/asr_model.py
  delta/models/speaker_cls_rawmodel.py
  delta/utils/cmvn_test.py
  delta/utils/loss/loss_impl.py
  delta/utils/loss/loss_utils.py
  delta/utils/loss/loss_utils_test.py
  delta/utils/metrics/tf_metrics.py
  delta/utils/optimizer/yellowfin.py
  delta/utils/solver/speaker_solver.py
  deltann/api/c_api.h
  deltann/core/graph.cc
  deltann/core/io.h
  deltann/core/runtime.h
  deltann/core/utils/config.cc
  deltann/core/utils/misc.h
  egs/hkust/asr/v1/conf/fbank.conf
  egs/hkust/asr/v1/run.sh
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
  egs/voxceleb/spk/v1/run_delta.sh
  tools/Makefile
Labels: Bug, CI, Delta, Egs, Install, New Feature

#76 Fix egs doc
  README.md
  delta/models/asr_model.py
  egs/hkust/asr/v1/README.md
  egs/hkust/asr/v1/conf/asr-ctc.yml
  egs/iemocap/emo/v1/README.md
Labels: Delta, Doc, Egs

#78 fix doc
  README.md
Labels: Doc

#82 fix solver config
  delta/utils/solver/raw_solver.py
Labels: Delta

#81 add alpha for focal loss
  delta/utils/loss/loss_impl.py
  delta/utils/loss/loss_utils.py
  delta/utils/loss/loss_utils_test.py
Labels: Delta

#83 Spk postproc
  delta/layers/common_layers.py
  delta/layers/common_layers_test.py
  delta/utils/metrics/tf_metrics_test.py
  delta/utils/postprocess/speaker_cls_proc.py
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
Labels: Delta, Egs

#85 fix hkust results
  egs/hkust/asr/v1/README.md
Labels: Doc, Egs

#90 add version doc
  docs/version.md
Labels: Doc

#91 fix emotion results
  README.md
  delta/data/task/speech_cls_task.py
  egs/iemocap/emo/v1/README.md
  egs/iemocap/emo/v1/conf/emo-keras-blstm.yml
Labels: Doc, Egs

#92 fix metrics for binary class
  delta/utils/loss/loss_utils_test.py
  delta/utils/misc.py
  delta/utils/solver/estimator_solver.py
  deltann/api/c_api.cc
  deltann/api/c_api.h
  deltann/core/graph.cc
  deltann/core/runtime.h
  deltann/core/tfmodel.cc
  deltann/core/tfserving_model.h
  deltann/examples/text_cls/test.cc
  deltann/test/test.cc
Labels: Bug, Delta

#72 Asr restore model and export saved model
  delta/models/asr_model.py
  delta/serving/eval_asr_pb.py
  delta/utils/decode/tf_ctc.py
  delta/utils/solver/asr_solver.py
  delta/utils/solver/utils/solver_utils.py
  egs/hkust/asr/v1/conf/asr-ctc.yml
Labels: Delta, New Feature

#95 Asr restore model testcase
  delta/serving/.gitkeep
  delta/serving/eval_asr_pb.py
  delta/utils/solver/utils/solver_utils.py
  delta/utils/solver/utils/solver_utils_test.py
Labels: CI, Delta

#97 fix hkust prepare dict
  egs/hkust/asr/v1/local/hkust_prepare_dict.sh
Labels: Egs

#88 Deltann serving
  deltann/examples/text_cls/test.cc
  deltann/server/core/conf/delta_conf.go
  deltann/server/core/delta_serving.go
  deltann/server/core/delta_serving_test.go
  deltann/server/core/handel/delta_predict_handler.go
  deltann/server/core/model/delta_model.go
  deltann/server/core/pool/delta_dispatcher.go
  deltann/server/core/pool/delta_work.go
  deltann/server/core/types/delta_types.go
  deltann/server/examples/build.sh
  deltann/server/examples/control.sh
  deltann/server/examples/env.sh
  deltann/server/examples/main.go
  deltann/server/examples/run.sh
  deltann/server/go.mod
  deltann/server/go.sum
  dpl/model/model.yaml
Labels: Serving

#101 Fix train hook
  delta/serving/eval_asr_pb.py
  delta/utils/solver/asr_solver.py
  delta/utils/solver/estimator_solver.py
  delta/utils/solver/utils/solver_utils.py
  delta/utils/solver/utils/solver_utils_test.py
  deltann/core/runtime.h
  utils/speech/ctc_token_fst.py
  utils/speech/prep_ctc_trans.py
Labels: Delta

#102 modify document:docker start command
  docs/installation/using_docker.md
Labels: Doc

#103 fix for variable len input
  deltann/core/data.h
Labels: Bug, Deltann

#104 add hkust utils
  delta/utils/solver/estimator_solver.py
  egs/hkust/asr/v1/conf/cmu2pinyin
  egs/hkust/asr/v1/conf/pinyin2cmu
  egs/hkust/asr/v1/local/create_oov_char_lexicon.pl
  egs/hkust/asr/v1/local/hkust_prepare_dict.sh
Labels: Egs

#106 fix emo task and ckpt loader
  delta/data/task/speech_cls_task.py
  delta/utils/solver/utils/solver_utils.py
  delta/utils/solver/utils/solver_utils_test.py
  egs/iemocap/emo/v1/conf/emo-keras-blstm.yml
  egs/iemocap/emo/v1/conf/emo-keras-resnet50.yml
  egs/iemocap/emo/v1/run.sh
Labels: Delta, Egs

#84 add base frontend
  delta/data/frontend/__init__.py
  delta/data/frontend/analyfiltbank.py
  delta/data/frontend/analyfiltbank_test.py
  delta/data/frontend/base_frontend.py
  delta/data/frontend/cepstrum.py
  delta/data/frontend/cepstrum_test.py
  delta/data/frontend/delta_delta.py
  delta/data/frontend/delta_delta_test.py
  delta/data/frontend/fbank.py
  delta/data/frontend/fbank_pitch.py
  delta/data/frontend/fbank_pitch_test.py
  delta/data/frontend/fbank_test.py
  delta/data/frontend/framepow.py
  delta/data/frontend/framepow_test.py
  delta/data/frontend/pitch.py
  delta/data/frontend/pitch_test.py
  delta/data/frontend/plp.py
  delta/data/frontend/plp_test.py
  delta/data/frontend/read_wav.py
  delta/data/frontend/read_wav_test.py
  delta/data/frontend/spectrum.py
  delta/data/frontend/spectrum_test.py
  delta/data/frontend/synthfiltbank.py
  delta/data/frontend/synthfiltbank_test.py
  delta/data/frontend/write_wav.py
  delta/data/frontend/write_wav_test.py
  delta/data/frontend/zcr.py
  delta/data/frontend/zcr_test.py
  delta/layers/ops/kernels/delta_delta.cc
  delta/utils/hparam.py
  delta/utils/hparam_test.py
  delta/utils/solver/utils/solver_utils_test.py
  docker/requirements.txt
  docs/tutorials/training/imags/speech_features.png
  docs/tutorials/training/speech_features.md
  tools/requirements.txt
  utils/speech/compute_fbank_feats.py
  utils/speech/compute_fbank_pitch.py
  utils/speech/compute_plp_feats.py
  utils/speech/compute_spectrum_feats.py
  utils/speech/make_fbank.sh
  utils/speech/make_fbank_pitch.sh
  utils/speech/make_plp.sh
  utils/speech/make_spectrum.sh
Labels: Delta

#109 add log
  delta/data/task/speaker_cls_task.py
  delta/data/task/speaker_cls_task_test.py
Labels: Delta

#108 fix distribute
  delta/utils/misc.py
Labels: Delta

#113 fix bug
  deltann/core/graph.cc
  deltann/core/runtime.h
Labels: Deltann
