Repository Delta-ML/delta, pull requests merged in 2019-12, with the labels that each got.

#186 fix asr output name
  delta/models/asr_model.py
  egs/hkust/asr/v1/conf/asr-ctc.yml
  egs/mini_an4/asr/v1/conf/asr-ctc.yml
Labels: Delta, Egs

#188 Bert for tf2.0
  egs/conll2003/pretrain/v1/local/modeling.py
  egs/conll2003/pretrain/v1/local/tokenization.py
  egs/conll2003/pretrain/v1/local/transfer_bert_model.py
  egs/conll2003/pretrain/v1/run_bert.sh
Labels: Egs, TF2.x

#189 add more info for deltann compile
  README.md
  docs/development/docker.md
Labels: Dpl, Install

#191 add --no-cache-dir for pip
  tools/Makefile
Labels: Install
