Repository Delta-ML/delta, pull requests merged in 2019-11, with the labels that each got.

#160 add spk serving
  delta/serving/eval_speech_cls_pb.py
  delta/utils/postprocess/speaker_cls_proc.py
Labels: Delta

#163 fix docs
  docs/installation/pick_installation.md
  docs/tutorials/training/data/kws-cls.md
  docs/version.md
Labels: Doc

#166 Update readme for installation
  README.md
Labels: Doc

#165 Modifiy wheel build doc
  docs/installation/wheel_build.md
Labels: Delta, Doc

#167 *fix build sh & README
  deltann/server/README.md
  deltann/server/examples/build.sh
  deltann/server/examples/server-env.sh
Labels: Deltann

#168 *add docker support
  deltann/server/examples/Dockerfile
  deltann/server/examples/build.sh
  deltann/server/examples/run.sh
Labels: Deltann

#169 fix docs
  docs/development/deltann_compile.md
  docs/development/docker.md
  docs/index.rst
  docs/introduction.md
  docs/tutorials/deployment/deltann.md
  docs/tutorials/deployment/dpl.md
  docs/tutorials/training/egs.md
Labels: Doc

#171 fix deltann doc
  docs/development/deltann_compile.md
Labels: Doc

#170 *fix handler name
  deltann/server/core/handler/delta_model_handler.go
  deltann/server/core/handler/delta_predict_handler.go
Labels: Deltann

#174 fixed small errors
  README.md
Labels: Doc

#172 fix log
  deltann/core/config.cc
  deltann/core/io.h
Labels: Deltann

#175 *fix ops name
  deltann/server/core/delta_serving.go
  deltann/server/core/handler/delta_model_handler.go
  deltann/server/core/handler/delta_predict_handler.go
  deltann/server/examples/run.sh
  deltann/server/mock_yaml/nlp/model.yaml
  dpl/run.sh
Labels: Deltann

#173 fix tf compile
  deltann/test.sh
  docker/install.sh
  dpl/run.sh
  tools/Makefile
Labels: Dpl

#176 *add release_notes
  tools/release_notes.py
Labels: Delta

#178 fix avg ckpt
  utils/avg_checkpoints.py
Labels: Deltann

#157 Refactor asr
  delta/layers/ops/build.sh
  delta/layers/ops/kernels/add_rir_noise_aecres_1.2/CConv.cpp
  delta/layers/ops/kernels/add_rir_noise_aecres_1.2/add_rir_noise_aecres.cpp
  delta/layers/ops/kernels/spectrum.cc
  delta/utils/solver/asr_solver.py
  delta/utils/solver/emotion_solver.py
  delta/utils/solver/keras_base_solver.py
  egs/mini_an4/asr/v1/conf/asr-ctc.yml
  egs/mini_an4/asr/v1/run_delta.sh
Labels: Delta

#179 *add Acknowledgements
  tools/release_notes.py
Labels: Delta

#180 fix mfcc
  delta/data/feat/speech_feature.py
  delta/data/frontend/fbank.py
  delta/data/frontend/fbank_pitch.py
  delta/data/frontend/fbank_pitch_test.py
  delta/data/frontend/fbank_test.py
  delta/data/frontend/mfcc.py
  delta/data/frontend/mfcc_test.py
  delta/data/frontend/pitch.py
  delta/data/frontend/pitch_test.py
  delta/data/frontend/spectrum.py
  delta/data/frontend/spectrum_test.py
  delta/layers/ops/kernels/mfcc_dct.h
  delta/layers/ops/kernels/mfcc_dct_op.cc
  delta/layers/ops/kernels/pitch.cc
  delta/layers/ops/kernels/pitch.h
  delta/layers/ops/kernels/pitch_op.cc
  delta/layers/ops/kernels/resample.cc
  delta/layers/ops/kernels/resample.h
  delta/layers/ops/kernels/spectrum.cc
  delta/layers/ops/kernels/spectrum.h
  delta/layers/ops/kernels/spectrum_op.cc
  delta/layers/ops/kernels/support_functions.cc
  delta/layers/ops/kernels/support_functions.h
  delta/layers/ops/kernels/x_ops.cc
  utils/speech/compute_fbank_feats.py
  utils/speech/compute_mfcc_feats.py
  utils/speech/compute_pitch_feats.py
  utils/speech/make_fbank.sh
  utils/speech/make_mfcc.sh
Labels: Ops

#182 defualt kaldi build with openblas
  tools/Makefile
Labels: Install
