Repository Delta-ML/delta, pull requests merged in 2019-08, with the labels that each got.

#34 refactor spk conf and add result doc
  egs/voxceleb/spk/v1/README.md
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
  egs/voxceleb/spk/v1/run_delta.sh
Labels: delta

#45 fix spaker readme
  egs/voxceleb/spk/v1/README.md
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/run_delta.sh
Labels: doc, egs

#48 fix pull request template [skip ci]
  .github/pull_request_template.md
Labels: doc

#46 fix install-deltann
  tools/Makefile
  tools/install/install-deltann.sh
Labels: bug, deltann, install

#47 fix mbedtls install
  tools/.gitkeep
  tools/Makefile
Labels: bug, deltann, install

#53 fix egs file mode
  egs/voxceleb/spk/v1/cmd.sh
  egs/voxceleb/spk/v1/path.sh
  egs/voxceleb/spk/v1/run_delta.sh
Labels: egs

#56 fix spaker script
  egs/voxceleb/spk/v1/cmd.sh
  egs/voxceleb/spk/v1/path.sh
  egs/voxceleb/spk/v1/run_delta.sh
Labels: egs

#55 fix dpl
  .travis.yml
  delta/layers/ops/Makefile
  delta/layers/ops/build.sh
  docker/build.sh
  docker/dockerfile.deltann.cpu
  docker/dockerfile.deltann.gpu
  dpl/gadapter/run.sh
  dpl/run.sh
  tools/Makefile
Labels: deltann, dpl

#58 add golang style docs
  docs/development/contributing.md
Labels: doc, serving

#57 feature deltann serving
  .gitignore
  deltann/server/core/conf/conf.go
  deltann/server/core/delta_serving.go
  deltann/server/core/delta_serving_test.go
  deltann/server/core/types/types.go
  deltann/server/core/utils/filepath_util.go
  deltann/server/examples/build.sh
  deltann/server/examples/configurations/conf.develop.yml
  deltann/server/examples/configurations/conf.online.yml
  deltann/server/examples/control.sh
  deltann/server/examples/main.go
  deltann/server/examples/run.sh
  deltann/server/glide.yaml
  deltann/server/main.go
  deltann/server/pull_deps.sh
Labels: serving

#59 asr data format doc
  docs/tutorials/training/data/asr_example.md
Labels: doc

#52 add asr integration test
  .gitlab-ci.yml
  .travis.yml
  egs/hkust/asr/v1/conf/asr-ctc.yml
  egs/mini_an4/asr/v1/cmd.sh
  egs/mini_an4/asr/v1/conf/asr-ctc.yml
  egs/mini_an4/asr/v1/path.sh
  egs/mini_an4/asr/v1/run_delta.sh
  tools/test/gen_mock_egs_data.sh
  tools/test/integration_test.sh
  tools/test/python_test.sh
Labels: CI, delta, egs

#60 fix deltann_compile.md
  docs/installation/deltann_compile.md
Labels: deltann, doc

#62 fix cuda support doc
  docs/installation/manual_setup.md
Labels: doc, install

#65 fix cuda install
  docs/installation/manual_setup.md
Labels: doc, install

#67 Fix Install doc
  docs/installation/manual_setup.md
Labels: doc, install

#69 fix dup and doc
  delta/utils/solver/utils/solver_utils.py
  egs/iemocap/emo/v1/README.md
  egs/voxceleb/spk/v1/README.md
Labels: delta, doc

#70 remove vocab from speaker
  delta/models/speaker_cls_rawmodel.py
  delta/utils/solver/speaker_solver.py
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
Labels: delta

#68 Deltann serving
  .gitignore
  deltann/server/core/delta_serving.go
  deltann/server/examples/build.sh
  deltann/server/examples/main.go
  deltann/server/glide.yaml
  deltann/server/model/delta_model.go
  deltann/server/pull_deps.sh
Labels: deltann, serving
