Repository Delta-ML/delta, pull requests merged in 2020-08, with the labels that each got.

#212 *fix valueInputs
  deltann/server/core/conf/delta_conf.go
  deltann/server/core/delta_serving.go
  deltann/server/core/model/delta_model.go
  deltann/server/core/types/delta_types.go
  deltann/server/mock_yaml/nlp/model.yaml
  tools/install/install-go.sh
Labels: Serving

#228 deltann parse json inputs
  deltann/api/c_api.cc
  deltann/api/c_api.h
  deltann/core/runtime.cc
  deltann/examples/text_conf_json/Makefile
  deltann/examples/text_conf_json/model.yaml
  deltann/examples/text_conf_json/test_conf_json.cc
Labels: Deltann

#231 rm useless
  .editorconfig
  .gitmodules
Labels: Install

#232 update pip
  .pip/pip.conf
Labels: Doc

#233 [WIP]*delta-serving
  .gitignore
  delta-serving/README.md
  delta-serving/core/conf/delta_conf.go
  delta-serving/core/delta_serving.go
  delta-serving/core/delta_serving_test.go
  delta-serving/core/handler/delta_model_handler.go
  delta-serving/core/handler/delta_predict_handler.go
  delta-serving/core/model/delta_model.go
  delta-serving/core/pool/delta_dispatcher.go
  delta-serving/core/pool/delta_work.go
  delta-serving/core/types/delta_types.go
  delta-serving/core/types/delta_types_test.go
  delta-serving/core/utils/filepath_util.go
  delta-serving/core/utils/filepath_util_test.go
  delta-serving/examples/Dockerfile
  delta-serving/examples/build.sh
  delta-serving/examples/main.go
  delta-serving/examples/run.sh
  delta-serving/examples/server-env.sh
  delta-serving/go.mod
  delta-serving/go.sum
  delta-serving/mock_yaml/nlp/model.yaml
Labels: Serving
