Repository Delta-ML/delta, pull requests merged in 2020-04, with the labels that each got.

#204 add release version doc
  docs/version.md
  tools/release_notes.py
Labels: Doc

#202 Multimodal emo and transformer
  delta/data/task/speech_cls_task.py
  delta/data/task/text_seq2seq_task.py
  delta/layers/__init__.py
  delta/layers/sub_tf.py
  delta/layers/transformer.py
  delta/layers/utils.py
  delta/layers/utils_tf.py
  delta/models/multimodal_cls_model.py
  delta/models/text_seq2seq_model.py
  delta/utils/loss/loss_utils.py
  delta/utils/register.py
  delta/utils/solver/emotion_solver.py
  delta/utils/solver/utils/callbacks.py
  egs/cnn_dailymail/seq2seq/v1/config/transformer-s2s.yml
  egs/iemocap/emo/v1/README.md
  egs/iemocap/emo/v1/conf/multimodal-align-emotion.yml
  egs/iemocap/emo/v1/local/python/generate_vocab.py
  egs/iemocap/emo/v1/run_mm.sh
  egs/mock_text_seq2seq_data/seq2seq/v1/config/transformer-s2s.yml
Labels: Delta, New Feature

#198 Pyramid model
  .gitignore
  delta/data/task/text_match_task.py
  delta/data/task/text_match_task_test.py
  delta/layers/dynamic_pooling.py
  delta/layers/match_pyramid.py
  delta/models/text_match_model.py
  egs/mock_text_match_data/text_match/v1/config/pyramid-match-mock.yml
Labels: Delta
