Repository Delta-ML/delta, pull requests merged in 2020-07, with the labels that each got.

#217 deltann compile
  .gitignore
  core/ops/build.sh
  dpl/run.sh
  tools/Makefile
Labels: Deltann, Dpl, Install, Ops

#218 fix log of deltann
  deltann/README.md
  deltann/core/config.cc
  deltann/core/graph.cc
  deltann/core/io.h
  deltann/core/runtime.cc
  deltann/core/shape.h
  deltann/examples/speaker/model.yaml
  deltann/examples/speaker/test.cc
Labels: Deltann

#221 replace string to tstring for >= 2.2.0 and missing symbol of MakeShape and Status
  core/ops/kernels/jieba_op.cc
  core/ops/kernels/simple_vocab_op.cc
  core/ops/kernels/string_utils_op.cc
  core/ops/kernels/tokenizer_ops.cc
  deltann/core/io.h
  deltann/core/tfmodel.cc
  deltann/core/tfmodel.h
  deltann/targets/linux_makefile.inc
  dpl/run.sh
Labels: Deltann, Dpl, Ops

#220 replace deltann inoutData size by nelms
  deltann/api/c_api.cc
  deltann/api/c_api.h
  deltann/core/io.h
  deltann/core/runtime.cc
  deltann/core/runtime.h
  deltann/core/shape.cc
  deltann/core/shape.h
  deltann/core/tfmodel.cc
  deltann/examples/speaker/test.cc
  deltann/examples/text_cls/model.yaml
  deltann/examples/text_cls/test.cc
  deltann/test/test.cc
Labels: Deltann

#222 fix delta with tf2.2.0
  env.sh
  tools/requirements.txt
Labels: Delta, Install, Ops

#223 Transfer learning
  delta/utils/misc.py
  delta/utils/model.py
  delta/utils/solver/estimator_solver.py
  deltann/api/c_api.cc
  deltann/core/buffer.h
  deltann/core/io.h
  deltann/core/runtime.cc
  deltann/core/runtime.h
  deltann/core/tfmodel.cc
  deltann/examples/speaker/test.cc
  deltann/infer/delta_infer/core/scatter_search.cc
  deltann/infer/delta_infer/custom_ops/platform/CUDA/transformer_functor_cu.cc
  deltann/infer/delta_infer/custom_ops/transformer_cell.cc
  deltann/infer/delta_infer/custom_ops/transformer_cell_bert.cc
  deltann/infer/delta_infer/custom_ops/transformer_cell_nlp.cc
  deltann/infer/python/delta_infer/cpp/delta_cpp_export_py.cc
  deltann/infer/python/delta_infer/optimizer.py
  egs/voxceleb/spk/v1/conf/tdnn_arcface.yml
  egs/voxceleb/spk/v1/conf/tdnn_softmax.yml
Labels: Delta, Egs

#224 dump release note to markdown
  tools/release_notes.py
Labels: Doc

#225 delete linalg.norm and amend bound
  delta/data/preprocess/utils.py
Labels: Delta
